<div class="main posts-show">
  <div class="container">
  	<div class="post">
  		<%= link_to(@user.name,"/users/#{@user.id}") %>
  	</div>
    <div class="posts-show-item">
      <p>
     <%= @post.content %>
      </p>
       <div class="post-time">
        <%= @post.created_at %>
      </div>
    </div>
    <% if @post.user_id== @current_user.id  %>
    <%= link_to("edit","/posts/#{@post.id}/edit") %>
    <%= link_to("delete","/posts/#{@post.id}/destroy",{method: "post"}) %>
    <% end %>
    </div>
</div>